* {
    /* sets how the total width and height of an element is calculated; 
        border-box tells the browser to account for any border and padding in the 
        values you specify for an element's width and height */
    box-sizing: border-box;
    /* sets the margin area on all four sides of an element; 
        every rectangular box representing each element is composed of four parts: 
        the content edge, padding edge, border edge, and margin edge. */
    padding: 0;
    /* used to create space around an element's content, inside of any defined borders. */
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

/* Navigation CSS */
.navbar {
    background-color: #fed2df;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar__container {
    /* this creates two invisible axis; the main axis (x) and the cross axis (y). */
    display: flex;
    /* has a default value of stretch; aligns items on the main axis. */
    justify-content: space-between;
    /* has a default value of stretch; aligns items on the cross axis. */
    align-items: center;

    height: 60px;
    width: 100%;
    /* sets the depth of the container; the words must be on top. */
    z-index: 1;

    margin: 0 auto;
    padding: 0 50px;
}

#navbar__icon {
    color: #333333;
    text-decoration: none;

    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: 300;
    font-style: italic;
    padding-left: 80px;
}

#icon {
    height: 50px;
    padding: 5px 0 5px 0;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.menu {
    color: #333333;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    height: 100%;
}

.menu:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

.navbar__button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    color: #fff;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 20px;
    height: 100%;
    width: 100%;

    border: none;
    outline: none;
    border-radius: 90px;
    background: rgb(250, 61, 124);
    background: linear-gradient(180deg, rgba(250, 61, 124, 1) 0%, rgba(254, 101, 157, 1) 100%);
}

#button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

/* Timer CSS */
.timer_background {
    background-color: #fed2df;
    overflow-x: hidden;
    height: 92vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.timer {
    background-color: #996675;
    height: 400px;
    width: 400px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.inner__circle {
    background-color: pink;
    height: 300px;
    width: 300px;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.countdown {
    font-size: 48px;
    font-weight: bold;
}

.countdown__button {
    height: 50px;
    width: 50px;
    margin: 16px 16px;
    border-radius: 50%;
    border: none;

    color: #fff;
    background: rgb(250, 61, 124);
    background: linear-gradient(180deg, rgba(250, 61, 124, 1) 0%, rgba(254, 101, 157, 1) 100%);
    /* -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; */
    cursor: pointer;
}

.material-icons {
    font-size: larger;
}

/* .countdown__button--start {
    background: green;
}

.countdown__button--reset {
    background: red;
} */

/* Footer CSS */
.footer {
    padding: 1rem 0 2rem 0;
    margin: 40px auto 0 100px;
}