{%extends 'base.html' %}
{%block content %}
<section class="main">
    <div class="main__container">
        <div class="main__content">
            <h1>It's time for you</h1>
            <h1>to FOCUS</h1>
            <p>
                This is a web-based program which helps you track how you spend your day, so that YOU can seize
                it as well as possible!
            </p>
            <button class="main__button"><a href="/register">Get Started</a></button>
        </div>

    </div>
</section>

<div class="heading">
    <h2>Why choose Focal?</h2>
</div>
<section class="section">
    <div class="section__container">
        <div class="section__content">
            <h3>Don't Forget...</h3>
            <p>Focal remembers all of your activities and will make sure you will not forget it so make sure not to
                ignore incoming notifications! The activities will be placed in weekly timetable for you to easily
                see what you have for the day. By the end of the week it will return an overview of what you did for
                the whole week.</p>
        </div>
    </div>
</section>
<section class="section">
    <div class="section__container">
        <div class="section__content">
            <h3>Time is Ticking...</h3>
            <p>Whenever an activity starts, the timer will begin the countdown! Make sure you stay focused within
                that period of time or else... Once the timer is finished, it will play a sound to indicate that
                time is up. Not to mention there will be a win streak for you; if completed, you will be rewarded
                generously!</p>
        </div>
    </div>
</section>
{%endblock%}