{%extends 'base.html'%}
{% block content %}
{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity</title>
    <link rel="stylesheet" href="{% static 'timetable.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:wght@300&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="activity_container">
        <p><a href="{% url 'create-activity'  %}" class="menu">Create new activity</a></p>
        <h1 class="title">Activities</h1>

        {% for item in activity %}
        <div class="activity">
            <div class="activity_left">
                <h3 class="activity_name">{{item.activity_name}}</h3>

                <div class="record_description">
                    {{item.record_description}}
                </div>

                <div class="date_time_start">
                    {{item.date_time_start}}
                </div>

                <button class="button"><a href="{% url 'timer' activity_name=item.activity_name %}">Start</a></button>
            </div>
            <div class="activity_right">
                <div class="activity_date">
                    <div class="duration">{{item.duration}}</div>
                    <div class="unit">hours</div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</body>

</html>

{% endblock %}
