{%extends 'base.html'%}
{% block content %}

<style>
table, th, td {
  border:1px solid black;
}
body {
    height: 100%;
    margin: 0;
}
.table {
    height:100%;
    width: 100%;
}
.t_container {
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: aqua;
}
.body .footer{
    flex: 0 1 40 px;
}
</style>

<body>
    <div class="t_container">
        <table class="table">
            <tr>
                {% for item in activity %}
                <th>{{ item.activity_name }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for item in activity %}
                    <td>
                        {{item.date_time_start}}
                        <a href="{% url 'info' %}"> Click </a>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                {% for item in activity %}
                <td>{{item.date_time_finish}}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for item in activity %}
                <td>{{item.completed}}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
</body>
{% endblock %}